@import url('https://fonts.googleapis.com/css2?family=Abel&family=Asap&family=Raleway:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 30px;
}

h4{
  font-size: 30px;
  text-align: center;
}

h6 {
  font-size: 25px;
}

#header p {
  font-size: 23px;
}

/* li {
  list-style-type: none;
  text-align: left;
} */

a {
  color: rgb(85 123 132);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

a:active{
  color: rgb(139, 139, 154);
  
}
button {
  position: fixed;
  top: 1%;
  right: 1%;
  height: 25px;
  width: 50px;
  color: rgb(171, 188, 192);
  font-size: 17px;
  background-color: transparent;
}
button:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#main {
  display: flex;
  justify-content: center;
  background-color: #122836;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url('../public/fon2.jpeg');
  background-size: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.prefer:hover::after {
  content: 'Предпочитаемый способ связи';
  font-size: 10px;
  color: #706c6c;
  margin: 0px 10px;
}

.App {
  display: flex;
  flex-direction: column;
  margin-top: 60vh;
  background-color: #122836;
  color: rgb(171, 188, 192);
  font-family: 'Abel', sans-serif;
  font-family: 'Asap', sans-serif;
  font-family: 'Raleway', sans-serif;
}

.Block #skills img {
  height: 35px;
  width: 35px;
}

.Block #skills #react img {
  height: 40px;
  width: 60px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: logo-spin infinite 10s linear;
  }
}



.Block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding: 30px;
}

.Block #skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  padding: 1px 30px;
}

.Block #skills ul {
  margin: 40px;
  display: flex;
  flex-direction: column;
  line-height: 50px;
  font-size: 40px;
  list-style-type: none;
}

[alt] {
  font-size: small;
}

.Block div{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 50vh;
  /* width: 70%; */
}

.Block .Education {
  display: flex;
  justify-content: space-between;
  width: 80%;
  font-size: 23px;
}

#header .Block {
  height: 70vh;
  padding: 50px 30px;
}

.Block header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 65%;
  padding: 35px;
  margin: 0px;
}

.Block header img {
  box-sizing: content-box;
  width: 150px;
  margin: 5px;
  margin-top: -155px;
  border-radius: 50%;
  border: 5px solid #122836;
}

#header .Block ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px 0px;
  font-size: 20px;
  line-height: 25px;
  list-style-type: none;
}

.Block ul img {
  height: 17px;
  width: 17px;
  border: 0px;
  padding: 0px;
  margin: 0px 7px -3px 10px;
}


.Block ul .GitHub img {
  width: 20px;
  height: 20px;
}


.Block .Projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70vh;
  width: 80%;
}

.Block .Projects div{
  display: flex;
  flex-direction: column;  
  /* margin: -40px; */
  height: 55vh;
  max-width: 45%;
  min-width: 45%;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.Block .Projects ul {
  line-height: 25px;
  list-style-type: "-";
}

.Block .Projects ul li{
  padding-left: 5px;
}

.Block .Dev-experience {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* margin-left: -80px; */
  height: 40vh;
  width: 80%;
}

.Block .Dev-experience p {
  font-size: x-large;
  width: 70%;
}

.Block .Dev-experience ul {
  font-size:larger;
  line-height: 26px;
  list-style-type: "-";
}

.Block .Dev-experience ul li{
  padding-left: 5px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.About div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 65%;
  font-size:larger;
}

.About ul {
  font-size:larger;
  line-height: 26px;
  list-style-type: "-";
}

.About ul li{
  padding-left: 5px;
  font-size: 0.8em;
}

